venv
.venv
.env
.vscode
__pycache__
/__pycache__
cache/cadd/cadd_cache.db
cache/alphamissense/AlphaMissense_hg38.tsv
cache/alphamissense/alphamissense_hg38.db
cache/clinvar_variant_summary.txt.gz
