venv
.venv
.env
.vscode
__pycache__
/__pycache__
cache/cadd/cadd_cache.db
cache/alphamissense/AlphaMissense_hg38.tsv
cache/alphamissense/alphamissense_hg38.db
cache/clinvar_variant_summary.txt.gz
cache/alphamissense/alphamissense_hg38.db-journal
protein_42_out/pockets/
protein_42_out/pockets
examples/large_variants.json
processed_large_input.json
variant_impact_results_large.json
processed_variants_large.json
cache/clinvar/clinvar_cache.db
sequence_variant_results.json
logs/
# outputs/